@font-face{
    font-family: Nunito-family;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

body{
    font-family: "Nunito-family";
}

/* Search Bar */

/* .search input{
    border: none;
    background: crimson;
    width: 100%;
    height: 50px;
} */

.search {
    padding-top: 10px;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: crimson;
    height: 50px;
    border-radius: 40px;
    padding: 6px;
}

.search-box:hover > .search-txt{
    width: 480px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
    color: crimson;
}

.search-btn {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 0px;
    
}

.search-txt::placeholder{
    color: white;
}

/*  */

.description {
    padding-top: 16px;
}

.descript{
    color: black;
}

.descript h6{
    color: rgb(73, 72, 72);
}

.inclusion{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh;
    grid-gap: 3px;
}

.inclusion .box {
    position: relative;
    background: #ccc;
}

.inclusion .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inclusion .box.a{
    grid-row: span 2;  
}

.inclusion .box.b,
.inclusion .box.f{
    grid-column: span 2;  
}

@media (max-width: 991px){
    .inclusion{
        grid-template: "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px;
    }
}

.description p{
    font-size: 17px;
}

.text1{
    font-size: 20px;
}

#slides{
    width: 100%;
    background-size: cover;
}

.carousel-inner img{
    width: 90%;
    height: 90%;
}


/* Scroll Top button (topBtn) */

#topBtn {
    position: fixed;
    overflow: hidden;
    bottom: 20px;
    right: 40px;
    font-size: 32px;
    width: 60px;
    height: 60px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

/*  */

.para_box {
    margin-left: 150px;
    margin-right: 150px;
}

.naming b span{
    color: crimson;
    font-size: 40px;
    font-family: 'Edwardian Script ITC';
    font-weight: 600;
}

/* footer */

footer h6 a:hover {
    color: crimson;
    transition: 0.5s;
}

.naming {
    font-weight: 600;
}


/* Card */

.card {
    transition: 0.5s;
    width: 350px;
}

.card:hover {
    filter: scale(100%);
    transform: scale(1.1);
}

/*  */