*{
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #eee;
}

a:hover{
    text-decoration: none;
    color: #eee;   
}

header{
    width: 100%;
    height: 16vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0));
    background-size: cover;
}

.content1{
    
    max-width: 120rem;
    width: 93%;
    margin: 0 auto;
}

nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Nunito Light';
}

.brand{
    font-size: 30px;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

span{
    color: crimson;
    font-size: 40px;
    font-family: 'Edwardian Script ITC';
}

.brand span{
    color: crimson;
    font-size: 50px;
    font-family: 'Brush Script MT';
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}

nav ul li:nth-child(2){
    animation-delay: .3s;
}

nav ul li:nth-child(3){
    animation-delay: .6s;
}

nav ul li:nth-child(4){
    animation-delay: .9s;
}

nav ul li:nth-child(5){
    animation-delay: 1.2s;
}


nav ul li a{
    padding: 1rem 0;
    margin: 0 1rem;
    position: relative;
    letter-spacing: 1px;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 600;
    float: right;
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);

    }
}

.navbar-brand{
    font-weight: 600;
  }
  
.nav-item {
    font-family: 'Nunito';
    font-weight: 600;
}

/* active-link */

.active-link {
    background-color: crimson;
    width: 90px;
    color: rgb(255, 255, 255);
}

/*  */