body{
    margin:0;
    padding: 0;
}

/* .inclusion{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh;
    grid-gap: 3px;
}

.inclusion .box {
    position: relative;
    background: #ccc;
}

.inclusion .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inclusion .box.a{
    grid-row: span 2;  
}

.inclusion .box.b,
.inclusion .box.f,
.inclusion .box.h,
.inclusion .box.j{
    grid-column: span 2;  
}

@media (max-width: 991px){
    .inclusion{
        grid-template: "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px
                       "1fr 1fr" 200px;
    }
} */

.gallery {
  margin: 10px 10px;
}

.gallery img{
  transition: 0.5s;
  padding: 10px;
  width: 350px;
}

.gallery img:hover{
  filter: scale(100%);
  transform: scale(1.1);
}


/* Footer */

footer {
  font-family: 'Nunito';
  font-size: 17px;
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 0.5rem;
}

footer h6 a:hover {
  color: crimson;
  transition: 0.5s;
}
  
  .footer_img1 img{
    width: 250px;
    height: 70px;
  }
  
  .footer_img2 img{
    width: 130px;
    height: 120px;
  }
  /*  */
  
  p{
    font-family: "Nunito";
    font-size: 18px;
  }
  
  /* span{
    color: crimson;
    font-size: 80px;
    font-family: 'Edwardian Script ITC';
  } */
  
  .brand span{
    color: crimson;
    font-size: 50px;
    font-family: 'Brush Script MT';
  }
  
  .topic h1 span b{
    color: crimson;
    font-size: 80px;
    font-family: 'Edwardian Script ITC';
    font-weight: 600;
  }
  
  .topic h1{
    font-family: "Nunito";
    font-size: 49px;
    font-weight: 300;
  }
  
  p b{
    font-family: "Nunito";
    font-size: 19px;
  }
  
  .sub_topic1{
    font-family: "Nunito";
    font-size: 19px;
  }
  
  /* Horizontal Line */
  
  .line-white{
    background: white;
    border: solid white 1px;
    border-radius: 50%;
    width: 75%;
  }
  
  .line-black{
    background: rgb(15, 15, 15);
    border: solid rgb(15, 15, 15) 2px;
    border-radius: 50%;
    width: 75%;
  }
  
  
  /* End of Horizontal Line */
  
  /* Custom Scroll Bar */
  
  ::-webkit-scrollbar{
    width: 9px;
    border-radius: 5px;
    background: rgb(36, 35, 35);
  
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: rgb(36, 35, 35);
    border-radius: 5px;
    border: solid crimson  5px;
  }
  
  /* #ffc72c */
  
  
  /* End of Custom Scroll Bar */


  /* Scroll Top button (topBtn) */

#topBtn {
  position: fixed;
  overflow: hidden;
  bottom: 20px;
  right: 40px;
  font-size: 32px;
  width: 60px;
  height: 60px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/*  */
